.tabs {
    margin-top: 5em;
    margin-bottom: 5em;
    /* margin-left: 11em; */
}

#front {
    margin:auto;
}

.profile {
  height: 10em;
}

.tag {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;

}

body {
   
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#logout {
    color: rgb(134, 124, 124)
 }

 #map {
    height: 100%;
    widows: 100%;
  }
