

 #search {
    margin-right: 7em;
    padding-top: 5rem;
 }

 #search_button {
    top: 0.38em;
    margin-left: 2em;
    background-color:  rgb(34, 29, 29);
    width: 15em;
    border-radius: 1em;
 }

 img{
    width: 10em;
}
 
 .event_preview {
    padding-top: 5em;
 }

 .icon ,#verified {
    line-height: 24px !important;
    font-size: 20px !important ;
 }

 